#navbar-toggler {
  color: black;
  background-color: white;
}
#header {
  font-family:'Bangers';
  text-align: center;
  width: 60%;
}

#image{
  width: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

#questions{
  text-align: center;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
}

#answers {
  text-align: center;
  color: blue;
}

#question {
  text-align: center;
}

.submitButton{
  background-color: rgb(12, 112, 16);
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  font-size: 16px;
}