#navbar-toggler {
  color: black;
  background-color: white;
}
.navbar-custom {
  background-color: #4aff26;
}
#header {
  font-family:'Cormorant SC', serif;
  text-align: center;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family:'Inder', sans-serif;
  border-radius: 25px;
  width: 60%;
}
img {
  border-radius: 25px; 
}

.button::selection {
  background-color: green;
}

 h2 {
   text-align: center;
   font-family:'Inder', sans-serif;

 }

#question {
  text-align: center;
}
input{
  cursor: pointer;
  padding: 20px;
}
.submitButton {
  font-family:'Inder', sans-serif;
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 30px;
  text-align: center;
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#slim {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(130, 248, 134);
}

#footer {
  width: 100%;
  background-color: rgb(2, 66, 4);
  text-align: center;
  color: white;
  padding-top: 15px;
}

.results {
  font-family:'Inder', sans-serif;
  font-size: 60px;
  text-align: center;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 800px) {
  #slim {
      width: 100%;
  }
}