#navbar-toggler {
  color: black;
  background-color: white;
}
#header {
  font-family:'Cormorant SC', serif;
  text-align: center;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family:'Inder', sans-serif;
}

.button::selection {
  background-color: green;
}
 h2 {
   text-align: center;
   font-family:'Inder', sans-serif;

 }
#answers {
  text-align: center;
  color: blue;
}

#question {
  text-align: center;
}

.submitButton {
  background-color: rgb(60, 112, 224);
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#slim {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(130, 248, 134);
}

#footer {
  width: 100%;
  background-color: rgb(2, 66, 4);
  height: 60px;
  text-align: center;
  color: white;
}

.results {
  font-family:'Inder', sans-serif;
  font-size: 60px;
  text-align: center;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 800px) {
  #slim {
      width: 100%;
  }
}